<div class="container">
        <h2 class="pb-5">Your Concern</h2>
    <div class="row">
       
        <div class="col-md-4">
            <div class="affect d-flex">
                <h2>Diabetes</h2>
                <img src="assets/images/blood.png" >
            </div>
        </div>
        <div class="col-md-4">
                <div class="affect d-flex">
                    <h2>Weight Control</h2>
                    <img src="assets/images/dumbbell.png" >
                </div>
            </div>
            <div class="col-md-4">
                    <div class="affect d-flex">
                        <h2>Involuntary Movements
                            </h2>
                        <img src="assets/images/movement.png" >
                    </div>
                </div>
    </div>
</div>