.affect{
    background-color: aqua;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: 700;
    height: 10rem;
}
img{
    width:5rem;
    height: 5rem;
}
h2{width: 50%;
  font-size: 1.7rem;

}