.row{
    background-color: #33ccff;
}
h2{ color: #003366;}
.para{
    width:90%;
    color:#fff;
    padding-top: 0.3rem;
}
.cont{
    width: 80%;
}
.bground{
  
    color:#003366;
    border:1px solid #003366;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    width: 80%;
    padding-top: 0.3rem;
}
.paraApp{font-size: 1.3rem;
    font-weight: 500;}
small {
        font-size: 65%;
    }