<div class="container">
    <div class="row">
        <div class="col-md-6">
                <img src="assets/images/mobile.png" >
        </div>
        <div class="col-md-6 m-auto">
            <h2>Download Agzza App</h2>
            <p class="para py-4">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                 eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos </p>
                 <div class="cont d-flex">
                        
                        <div class="bground d-flex justify-content-around ">
                            <p>icon</p>
                            <div>
                                <small>download on the</small>
                                <p class="paraApp">App Store</p>
                            </div>
                        </div>
                        <div class="bground d-flex justify-content-around">
                                <p>icon</p>
                                <div>
                                    <small>Android App on </small>
                                    <p class="paraApp">google Play</p>
                                </div>
                            </div>
            
                    </div>
        </div>
    </div>
</div>
