.navbar-light .navbar-nav .nav-link {
    color: #203b76;
    font-size: 1.1rem;
    font-weight: 500;
}
button{
    background-color: #fff;
    color: #203b76;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
}
.percent{
   color: #fff;
   background-color: #203b76;
   border-radius: 0.5rem;
   padding: 4px 10px;

}