footer{ border-top: 3px solid #003366;
    padding-top: 1rem;
    margin-top: 2rem;}
.headFooter{
    font-size: 1.5rem;
    font-weight: 500;
    color: #003366;
    margin-bottom: 2.2rem;
}
.logoImg{margin-bottom: 2.2rem;}
.bground{
    background-color: #003366;
    color:#fff;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    width: 80%;
    padding-top: 0.3rem;
}
small{font-size:0.6rem;}
.para{font-size: 1.4rem;
    font-weight: 500;}
h6{ padding-bottom: 0.5rem;}    

.link {
    cursor: pointer;
    text-transform: capitalize;
    color:#857a7a;
}

.link:hover{color: darkblue;}