<footer>
   <div class="container">
       <div class="row">
           <div class="col-md-4">
            <img src="assets/images/agzza.jpg" class="logoImg" >
            <p class="">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius, ab? Perspiciatis quae voluptatem 
                quod rerum inventore 
                distinctio voluptate beatae sunt! Labore, eligendi dolores recusandae totam quis ipsa quo. 
                Inventore, recusandae?</p>
                <p class="headFooter">Follow us</p>
                
           </div>
           <div class="col-md-2">
               <p class="headFooter">Explore Agzza</p>
               <h6 class="link">Home</h6>
               <h6 class="link">About us</h6>
               <h6 class="link">Contact us</h6>
               <h6 class="link">delivery</h6>
               <h6 class="link">privacy policy</h6>

        </div>
        <div class="col-md-2">
            <p class="headFooter">Discover</p>
            <h6 class="link">Home</h6>
            <h6 class="link">About us</h6>
            <h6 class="link">Contact us</h6>
            <h6 class="link">delivery</h6>
            <h6 class="link">privacy policy</h6>


        </div>
        <div class="col-md-4">
            <p class="headFooter">Download Agzza</p>
            <div class="bground d-flex justify-content-around ">
                <p>icon</p>
                <div>
                    <small>download on the</small>
                    <p class="para">App Store</p>
                </div>
            </div>
            <div class="bground d-flex justify-content-around ">
                    <p>icon</p>
                    <div>
                        <small>Android App on </small>
                        <p class="para">google Play</p>
                    </div>
                </div>

        </div>
       </div>
   </div>
</footer>