.card{width:100%;
height:auto;
border: 1px solid transparent;}

.card-body {
    padding: 20px 0px;
}
button{
    color: #fff;
    background-color: #203b76;
    border-radius: 0.3rem;
    padding:10px;
    width: 100%;
    border: 1px solid transparent;
}